body {
  display: flexbox;
  margin: 8px;
  /* justify-content: center; */
  text-align: center;
  background-color: #252422;
  /* background-color: #f2ede3; */
}

input {
  width: 70px;
  height: 70px;
  /* position: absolute;
  top: 0;
  left: 0; */
}
button {
  width: 70px;
  height: 70px;
}
